<!doctype html>
<html lang="en">

<head>
    <title>English Assistant</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar px-4 py-4">
            <a class="navbar-brand" href="/">
                <h3 class="mb-0">🧠 English Learning Assistant</h3>
            </a>
            <div class="ms-auto" id="link-login">
                <button class="btn btn-secondary px-3 me-2 rounded-5" onclick="location.href = '/login'">Login</button>
                <button class="btn btn-primary px-3 me-2 rounded-5" onclick="location.href = '/signup'">Sign Up</button>
            </div>
            <div id="link-user" class="nav-item dropdown" style="display: none;">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-bs-expanded="false">Xin
                    chào <span id="user-name"></span></a>
                <div class="dropdown-menu">
                    <button class="dropdown-item" href="#" onclick="viewProfile()">Trang cá nhân</button>
                    <button class="dropdown-item" href="#" onclick="logout()">Đăng xuất</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="/js/main.js"></script>
    <script src="/js/speech-to-text.js"></script>
    <script src="/js/text-to-speech.js"></script>
    <script src="/js/translate.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/register.js"></script>

    <script>
        checkLogin();        
    </script>
</body>

</html>