<!-- Login Section Start -->
<div id="login">
    <div class="horizontal-center">
        <h2>Welcome back!</h2>
    </div>
    <div class="container horizontal-center">
        <div class="row w-50">
            <div class="col-12">
                <div class="login-form">
                    <form action="#" onsubmit="userLogin(event)">
                        <div class="form-row">
                            <div class="form-floating control-group col-12 my-4">
                                <input type="text" class="form-control" required="required" placeholder="Your email"
                                    id="user-email" />
                                <label for="user-email">Email</label>
                            </div>
                            <div class="form-floating control-group col-12 my-4">
                                <input type="password" class="form-control" required="required"
                                    placeholder="Your password" id="user-password" />
                                <label for="user-password">Password</label>
                            </div>
                            <div class="text-danger my-2" id="errorMessage"></div>
                        </div>
                        <div class="button text-center mt-4"><button type="submit"
                                class="btn btn-secondary">Login</button></div>
                        <p class="text-center">Don't have an account? <a href="/signup"
                                class="text-decoration-none text-black fw-bold">Sign up here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>