.right-middle {
    /* Căn giữa nội dung bên trong theo chiều dọc bên phải */
    display: flex;
    align-items: center;
    justify-content: end;
}

.horizontal-center {
    /* Căn giữa nội dung bên trong theo chiều ngang */
    display: flex;
    justify-content: center;
}

.bg-primary {
    background-color: #E9E9E980 !important;
    border-color: #E9E9E980 !important;
}

.btn-primary {
    background-color: white !important;
    border-color: #989898 !important;
    color: black;
}

.btn-primary:hover {
    background-color: #98989880 !important;
    border-color: #98989880 !important;
    color: black;
}

button:disabled {
    color: black !important;
}

.chat-area {
    height: 450px;
    overflow-y: auto;
    scrollbar-width: none;
}

.text-justify {
    text-align: justify !important;
}

#inputText {
    padding: 1rem;
    border-radius: 2rem;
}

#inputText:focus {
    box-shadow: none;
    border-color: grey;
}

.word {
    cursor: pointer;
    border-bottom: 1px dotted red;
}

.play-audio-btn {
    margin-bottom: 2.5px;
}

#welcome {
    margin-top: 25%;
}

.chat-bubble {
    max-width: 70%;
}