.right-middle {
    /* Căn giữa nội dung bên trong theo chiều dọc bên phải */
    display: flex;
    align-items: center;
    justify-content: end;
}

.horizontal-center {
    /* Căn giữa nội dung bên trong theo chiều ngang */
    display: flex;
    justify-content: center;
}

.bg-primary {
    background-color: #E9E9E980 !important;
    border-color: #E9E9E980 !important;
}

.btn-primary {
    background-color: white !important;
    border-color: #989898 !important;
    color: black;
}

.btn-primary:focus {
    box-shadow: none;
    border-color: black !important;
    color: black;
}

.btn-secondary {
    background-color: black !important;
    border-color: black !important;
    color: white;
}

.btn-secondary:focus {
    box-shadow: none;
    border-color: black !important;
    color: white;
}

.btn-primary:hover {
    background-color: #98989880 !important;
    border-color: #98989880 !important;
    color: black;
}

.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.25) !important;
    color: white;
}

button:disabled {
    color: black !important;
}

.chat-area {
    height: 450px;
    overflow-y: auto;
    scrollbar-width: none;
}

.text-justify {
    text-align: justify !important;
}

#inputText {
    padding: 1rem;
    border-radius: 2rem;
    border-color: #98989880;
}

#inputText:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.75);
}

.word {
    cursor: pointer;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
}

.play-audio-btn {
    margin-bottom: 2.5px;
}

#welcome {
    margin-top: 25vh;
}

.chat-bubble {
    max-width: 70%;
}

#suggestions {
    max-height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#login {
    position: relative;
    padding: 45px 0;
}

#login .container {
    max-width: 900px;
}

#login .login-form {
    position: relative;
}

#login .login-form .control-group {
    margin-bottom: 15px;
}

#login .login-form label {
    font-size: 14px;
    font-weight: 400;
}

#login .login-form input[type="text"],
#login .login-form input[type="email"],
#login .login-form input[type="password"] {
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

#login .login-form input[type="text"]:focus,
#login .login-form input[type="email"]:focus,
#login .login-form input[type="password"]:focus {
    border-color: black;
}

#login .login-form button {
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 15px;
}

#register {
    position: relative;
    padding: 45px 0;
}

#register .container {
    max-width: 900px;
}

#register .login-form {
    position: relative;
}

#register .login-form .control-group {
    margin-bottom: 15px;
}

#register .login-form label {
    font-size: 14px;
    font-weight: 400;
}

#register .login-form input[type="text"],
#register .login-form input[type="email"],
#register .login-form input[type="password"] {
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

#register .login-form input[type="text"]:focus,
#register .login-form input[type="email"]:focus,
#register .login-form input[type="password"]:focus {
    border-color: black;
}

#register .login-form button {
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 15px;
}

.dropdown-item {
    padding: 0 1rem;
}

.no-arrow::after {
    display: none !important;
    /* Ẩn mũi tên của Bootstrap */
}

.sidebar {
    width: 280px;
    height: 100%;
    background-color: #f8f9fa;
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
    scrollbar-width: none;
}

/* When sidebar is hidden */
#sidebar.hidden {
    transform: translateX(-100%);
}

/* Shift content when sidebar hidden */
#mainContent.expanded {
    margin-left: 0 !important;
}

#toggleSidebarBtn {
    z-index: 9999;
    left: 0;
    top: 0;
    margin: 22px 0 0 5px;
    padding: 3px 6px;
}

#newChatBtn {
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 20px;
}

#userInfo {
    margin-top: 100px;
}

#sidebarFooter {
    margin-top: 2rem;
    width: 100%;
    background-color: #f8f9fa;
}

.sidebar #chatHistory {
    margin-top: 180px;
}

.chat_sidebar_item {
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar div.btn {
    width: 100%;
}

.sidebar div.btn:hover {
    background-color: #66666630;
}

.sidebar div.btn.active {
    background-color: #66666630;
    border: none;
}

.chat_sidebar_item ul {
    padding: 0;
}

.chat_sidebar_item ul li {
    list-style: none;
}

.chat_sidebar_item ul li a {
    text-decoration: none;
    line-height: 1;
    color: #666666;
}

.chat_sidebar_item i.dropdown-toggle {
    z-index: 9999;
    margin-top: 8px;
}

.dropdown-item {
    line-height: 2;
}

.dropdown-item:hover {
    background-color: #dbddde;
}

.dropdown-item:active {
    color: grey;
}

.text-red {
    color: red !important;
}

.dropdown-menu {
    background-color: #f8f9fa;
    position: absolute;
}

input#newTitle {
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

input#newTitle:focus {
    border-color: black;
}

/* Spinner overlay */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner circle */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #666666;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    #mainContent {
        margin-left: 0 !important;
    }
}

@media (max-height: 900px) {
    #sidebarFooter {
        padding-bottom: 1rem;
        width: 86%;
        background-color: #f8f9fa;
        position: absolute;
        bottom: 0;
    }

    .chat-area {
        max-height: calc(100vh - 300px);
        min-height: 100px;
        overflow: auto;
    }
}